@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nabvar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}

/* HERO */

.hero {
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgba(0,0,0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
}

.hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

/* COLLECTIONS */

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
    
}

.collection__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__text {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}

/* SLIDER */

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}

.slider__items {
    display: flex;
    gap: var(--spacing-24);
}

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

.card-item__cover img {
    animation: fade .7s;
}

.card-item__img--back {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-small);
}

.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

/* FOOTER */

.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy {
    margin-top: var(--spacing-36);
    text-align: center;
}

/* ANIMATIONS */

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.grid-item-principal{
    margin-top: var(--spacing-68);
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    gap: var(--spacing-12);

}
.grid-container-1{
    grid-column: 1 / 3;
    grid-row: 1;
    border: 1px solid green;
}

.grid-container-2{
    grid-column: 3/6;
    grid-row: 1;
}
.grid-container-3{
    grid-column: 6/9;
    grid-row: 1;
}
.grid-container-4{
    grid-column: 9/12;
    grid-row: 1;
}
.grid-container-5{
    grid-column: 3/6;
    grid-row: 2;
}
.grid-container-6{
    grid-column: 6/9;
    grid-row: 2;
}
.grid-container-7{
    grid-column: 9/12;
    grid-row: 2;
}
.grid-container-8{
    grid-column: 3/6;
    grid-row: 3;
}
.grid-container-9{
    grid-column: 6/9;
    grid-row: 3;
}
.grid-container-10{
    grid-column: 9/12;
    grid-row: 3;
}
.order-by label{
    display: block;
}
.grid-price{
    display: inline;
}
.filter-values{
    display: block;
    
}
.filter-values input {
    display: block;
    
}

/*PAG ITEM*/
.collection__txt{
    font-size: var(--font-xsmall);
    font-weight: 500;
}
.collection-item__promo {
    
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
    
    
}
.collection-item__promo a {
    
    text-decoration: underline;
    
    
}
.collection__tle {
    font-family: var(--font-small);
    font-size: var(--font-large);
    text-transform: uppercase;
}
.collection__paragraph{
    font-size: var(--font-small);
}
.collection__paragraph-price{
    font-family: var(--font-jumbo);
    font-size: var(--font-large);
    text-transform: uppercase;
    color: var(--dark-bg-solid);
}
.collection__input{
    width: var(--spacing-36);
    font-size: small;
    text-align: center;
    border: none;
}
.collection__btn{
    
    color: var(--light-bg-solid);
    padding: var(--spacing-12);
    background-color: var(--dark-bg-solid);
    font-size: x-small;
}
.collection__item-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    align-items: start;
    
}
.collection__formdata{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    
}
.collection__formsubmit button{
    padding: var(--spacing-12);
    background-color: var(--primary-solid);
    border: none;
    color: var(--light-bg-solid);
}

/*REGISTER.HTML*/

.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-12);
    margin-top: var(--spacing-36);
    margin-bottom: var(--spacing-36);
}
.form-register input{
    border: none;
    border-bottom: 2px solid var(--primary-solid);
    font-size: large;
}
.form-register__title{
    font-size: x-large;
}
.form-register__paragraph{
    font-size: x-large;
}
.form-register__name{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    font-size: large;
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-16);
}
.form-register__lastname{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    font-size: large;
    align-items: center;
    margin-bottom: var(--spacing-16);
}
.form-register__email{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    font-size: large;
    align-items: center;
    margin-bottom: var(--spacing-16);
}
.form-register__pass{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    font-size: large;
    align-items: center;
    margin-bottom: var(--spacing-16);
}
.form-register__rpass{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    font-size: large;
    align-items: center;
    margin-bottom: var(--spacing-16);
}
.form-register__register{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-36);
}

.form-register__register input{
    padding: var(--spacing-8);
    
    font-size: x-small;
    background-color: var(--primary-solid);
    border: none;
    color: var(--light-bg-solid);
}
.form-register__check{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    font-size: small;
}
.form-register__check a{
    color: var(--secondary-solid);
}


/*LOGIN*/
 .form-login{
    margin-top: var(--spacing-68);
    margin-bottom: var(--spacing-68);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-16);
} 


.form-login input{
    border: none;
    border-bottom: 2px solid var(--primary-solid);
    font-size: large;
}

.form-login__title{
    font-size: var(--font-jumbo)
}
.form-login__email{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-small);
    gap: var(--spacing-12);
    margin-bottom: var(--spacing-24);
    align-items: center;
    
    
}

.form-login__pass{

    display: flex;
    justify-content: space-between;
    font-size: var(--font-small);
    gap: var(--spacing-12);
    align-items: center;
    margin-bottom: var(--spacing-24);
    
}

.form-login__go{

    display: flex;
    gap: var(--spacing-24);
    justify-content: center;
    margin-bottom: var(--spacing-24);
}
.form-login__go input{
    padding: var(--spacing-8) var(--spacing-16);
    
    font-size: var(--font-xsmall);
    background-color: var(--primary-solid);
    border: none;
    color: var(--light-bg-solid);
}
.form-login__go-check{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    font-size: small;
}
.form-login__link{
    color: var(--secondary-solid);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-xsmall)
}

/*CREATE.HTML*/
.form-create{
    margin-top: var(--spacing-16);
    margin-bottom: var(--spacing-16);
    
    
    
}
.form-create label{
    font-size: var(--font-small);
    margin-right: var(--spacing-12);
}
.form-create__title{
    font-size: var(--font-large);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-16);
}
.form-create__fusion{
    display: flex;
    gap: var(--spacing-36);
    
}
.form-create__category{
    display: block;
    
    margin-bottom: var(--spacing-16);
    align-items: center;
}
.form-create__licence{
    display: block;
    margin-bottom: var(--spacing-16);
    align-items: center;
}
.form-create__btn{
    display: flex;
    gap: var(--spacing-20);
    
}
.form-create input{
    font-size: var(--font-medium);
    border: none;
    border-bottom: 2px solid var(--primary-solid);
}
.form-create__nameproduc{
    align-items: center;
    margin-bottom: var(--spacing-16);
}
.form-create__fusionSPS{
    display: flex;
    gap: var(--spacing-36);
    
    
}
.form-create__sku{
    align-items: center;
    margin-bottom: var(--spacing-16);
}
.form-create__price{
    align-items: center;
    margin-bottom: var(--spacing-16);
    
}
.form-create__cant{
    align-items: center;
    margin-bottom: var(--spacing-16);
}
.form-create__img{
    margin-bottom: var(--spacing-16);
    align-items: center;
}
.form-create__img input{
   border: none;
   font-size: var(--font-xsmall);
}
.form-create__btnchoose{
    border: none;
}
.form-create__btn input{
    padding: var(--spacing-8) var(--spacing-16);
    
    font-size: x-small;
    background-color: var(--primary-solid);
    border: none;
    color: var(--light-bg-solid);
    
}
.form-create__groupdesdues{
    display: flex;
    gap: var(--spacing-36);
}
.form-create__discount{
    display: block;
}
.form-create__cuota{
    display: block;
    margin-bottom: var(--spacing-16);
}
.form-create__textarea{
    width: 500px;
}
.form-edit__imgs{
    display: flex;
    max-width: 150px;
    gap: var(--spacing-16);
    align-items: center;
    justify-content: center;
    font-size: x-small;
    margin-bottom: var(--spacing-16);
}
.form-edit__imgs p{
    border-top: 1px solid var(--primary-solid);
}
.form-edit__frente{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-edit__frente p{
    text-align: center;
}
.form-edit__dorso p{
    text-align: center;
}